*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
background-color: black;
color: rgb(229, 228, 228);
}

#wrapper{
  background-color: black;
}
#accordion{
  height: 100vh;
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.accord{
  margin-bottom: 1rem;
  width: 100%;
  
}

.accord h1{
border-bottom: 3px black solid;
  padding: 0.25rem;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  padding:20px;
}
.accord h1 i{
  cursor: pointer;
  background-color: transparent;
  font-size: 30px;
}
.accord p{
  display: none;
}
.accord p.active{
  display: block;
  border-top: none;
  padding: 0.5rem;
  text-align: left;
  font-size: 19px;
  padding:20px;
  
}